.nav {
    height: 4.3rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255);

    
    .logo {
        text-align: left;
        width: 50%;
        display: flex;
        align-items: flex-end;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 1px;
        padding-bottom: 0.5rem;
        color: rgb(255, 255, 255);
        mix-blend-mode: difference;
        border-bottom: 1px solid rgb(168, 168, 168);
    }

    .buttonsContainer {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 0.5rem;
        mix-blend-mode: difference;
        border-bottom: 1px solid rgb(168, 168, 168);
        

        .navButton {
            margin: 0 0.5rem;
            border: 1px solid rgb(167, 167, 167);
            border-radius: 20px;
            padding: 11px 10px;
            font-size: 12px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            color: rgb(167, 167, 167);
            mix-blend-mode: difference;

            .burgerLine {
                width: 18px;
                height: 1px;
                background: rgb(255, 255, 255);
                margin: 4.7px 0;
                display: block;
            }
        }

        .currentLanguage {
            color: rgb(255, 255, 255);
            background: rgb(0, 0, 0);
            border: 1px solid rgb(255, 255, 255);
        }
    }
}


// mobile style
@media (max-width: 768px) {

    .logo {
        font-size: 1rem;
    }
}

