.hiddenPlayer {
    transform: translateY(100px);
}

.playerContainer {
    width: 100%;
    padding: 0 2rem;
    height: 3.5rem;
    border: 1px solid black;
    position: fixed;
    display: flex;
    align-items: center;
    background: black;
    color: white;
    bottom: 0;
    z-index: 999;
    transition: all 1s ease-in-out;


    .buttonContainer {
        width: 3.5rem;
        border-right: 1px solid black;
        font-size: 2.5rem;
        cursor: pointer;

    }

    .coverContainer {
        width: 3.5rem;
        height: 100%;
        background-size: cover;
        margin: 0 0.5rem;
    }

    .titleContainer {
        margin: 0 0.5rem;
        width: 16.5rem;
        text-align: center;
    }

    .rewindButtonsContainer {
        width: 10rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0.5rem;
        padding-top: 1rem;

        .rewindButtonContainer {
            margin: 0 1rem;
            cursor: pointer;
        }

        .rewindTime {
            padding-top: 0.1rem;
            font-size: 0.7rem;
        }
    }

    .progressBarContainer {
        display: flex;
        width: 700px;
        align-items: center;

        .timeContainer {
            margin: 0 1rem;
            width: 4rem;
            text-align: center;
        }

        .progressBarWraper {
            width: 70%;
            background: rgb(255, 255, 255);
            height: 3px;
            display: flex;
            align-items: center;
            position: relative;
            border-radius: 20px;
            cursor: pointer;

            .circus {
                width: 13px;
                height: 13px;
                border-radius: 50px;
                position: absolute;
                z-index: 999;
                cursor: grab;
            }

            .progressBar {
                position: absolute;
                height: 3px;
                border-radius: 20px;
                display: flex;
                justify-content: flex-end;
            }

        }

        
    }

    .volumeButtonContainer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 50px;
        cursor: pointer;

        .volumeIcon {
            position: relative;
            background: black;

        }

        .volumeSliderContainer {
            background: black;
            padding: 20px 10px;
            transform: rotate(-90deg) translateY(30px) translateX(-1000px);
            opacity: 0;
            right: 0;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 100px;
            background: black;
            transition: all 1s ease-in-out;
        }

            .slider {
                cursor: pointer;
        }
            


    &:hover {
        .volumeSliderContainer {
            transform: rotate(-90deg) translateY(30px) translateX(0);
            opacity: 1;
        }

    }


    }
}